<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scriptomania|Home </title>
  <link rel="stylesheet" href="./css/home.css">
</head>

<body>
<div >
<img class="sss" src="./img/scripto.png" alt="Logo" width="80" height="80"></img>
<h2 class = "hero1">Scriptomania </h2>
</div>
<div>
<h2 class="welcome">Dedicated to Develop Media Industry</h2>
<p class = "hero">In <b>Pakistan</b>, the film industry is in its development stage and lacks a platform to link script writers to the film industry. Scriptomania let people who are passionate about writing, showcase their talent to famous producers.
</p>
</div>

<div class="mydiv">

      <button class="btn"><a class="insidebutton", href="/users/login">Login</a></button></div>

<div class="mydiv">
  <button class="btn1"><a class="insidebutton", href="/users/signup">Register Now</a></button>

</div><br>
  
<!-- <section class="row"> -->
  <div class="row">
    <!-- <h2>WRITERS</h2> -->
    
    
    <div class="grid-item1">
      <h2 class="info">WRITERS</h2>
      <p class="paragraph">Over 1000+ phenominal writers</p>
      
    </div>
    <!-- <h2>WRITERS</h2> -->
   
  
    <div class="grid-item2">
      <h2 class="info">PRODUCERS</h2>
       <p class="paragraph">Over 500+ Producers from all over Pakistan.</p>
    </div>
    <!-- <h2>WRITERS</h2> -->
  
    
    <div class="grid-item3">
       <h2 class="info">CONTACT</h2>
       <p class="paragraph">phone: +923366597237<br>email: help@scriptomania.com<br>address: 5400, LUMS, Lahore, PK.</p>
    </div>

  </div>
<!-- </section> -->


</body>
<footer class="footer">©2019 Scriptomania, Inc.</footer>

</html>
