<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scriptomania|Home </title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
       <link rel="stylesheet" href="./css/home.css">

  
</head>

<body style="background: orange">
<div class="title">
<h1>Scriptomania <img src="./img/scripto.png" alt="Logo" width="80" height="80"></h1>
</div>
<h2>Welcome to Scriptomania</h2>
<p>In <b>Pakistan</b>, the film industry is in its development stage and lacks the platform and a way to link script writers to the film industry. So, our web app plays essential role in the development of our film industry. In this way, many people who are passionate about writing will get a chance to showcase their talent to famous producers of Pakistan’s film industry. It will increase the employment opportunities in the digital sector of our country and would reduce the problem of unemployment in our country. The producers can find some quality work without the
headache of meeting script writers personally which will save their valuable time.
</p>

<table>
  <tr>
    <td>
      <button><a href="login">ٓAlready have an account? Click to login</button>
    </td>

  </tr>
  <tr>
    <td>
  <button><a href="signup">ٓClick here to register</button>
</td>
</tr>
</table>
  

</body>

</html>
