body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
}

.aaa{
	margin-top: 5px;
}
.sss{
	margin-bottom: 5px;
	padding:20px 0px 0px 0px;
}
.outer{
	background:#fff;
	padding:35px 0px 0px 0px;
}

.welcome {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  /*color: #fff;*/
  	 font-style: normal; 
	 font-variant: normal; 
	 font-weight: 450; 
	 line-height: 30px; 
  line-height: 44px;
  padding: 0px 0px 0px 0px;
  font-size: 3vw;
  text-align: center;
}

.hero1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	 /*font-size: 30px; */
	 font-style: normal; 
	 margin-top: 5px;
	 font-variant: normal; 
	 font-weight: 400; 
	 line-height: 30px; 
  color: #fff;
  line-height: 44px;
 padding: 20px 80px 10px 80px;
  text-align: center;
  font-size: 4vw;
  text-transform: uppercase;

}
.insidebutton{
	color: white;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1.5vw;
	font-weight: 520; 
}

.btn {
	font-size: 1.25vw;
	background: #293f50;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	width:60%;
	min-width: 100px;
	height: 30%;
	min-height: 70px;
	display: inline-block;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	border: 3px solid black;
	padding: 10px 0px 10px;
	align-self: center;
}

.btn:hover {
  background: #888;
  color: black;

}

.row {
  background: #fff;
  width:100%;
  min-width: 100px;
  padding: 10px 0 44px 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer{
  font-size: 1vw;
  position:fixed;
  bottom: 0;
  width: 100%;}
  
 .lul {
 	color: black;
 /*background-color: white;*/
 float: right;
/*padding-right:20px;*/
margin-right:5px;
margin-top: 5px;
text-align:right;
 display: grid inline-block;
  grid-template-columns: 50%, 50%;
}
