<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scriptomania| edit profile</title>
    <!--  -->
  
      <!-- <link rel="stylesheet" href="./style.css"> -->
      <link rel="stylesheet" href="style.css">

  
</head>

<body>
<section class="Signup-form">
  <div>
  <img class="sign_image" src="/img/scripto.png" alt="Logo image" height="80" width="80">  
  <h1 >Edit profile</h1>
  </div>
<div class="signup_form">
  <form action="/users/submit_signup_form" method="POST">
    <label>Contact Number</label>
    <input type="integer" name="Contact" required placeholder="+92xxx-xxxxxxx"><br><br>
    <label>Password</label>
    <input type="Password" name="Password" required placeholder="Password"><br><br>
    <label>Confirm password</label>
    <input type="Password" name="ConfirmPassword" required placeholder="Password"><br>
    <input type="Submit" value="signup">
  </form>
  </div>
</section>

</body>

</html>
