<head>
  <meta charset="UTF-8">
  <title>Scriptomania|Home </title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
       <link rel="stylesheet" href="./writer.css">

  
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body >
	      <div class = "lul">
        		<table  >
        			<tr >
        				<td class="topbtn"><a  class ="insidebutton1 " href="/users/signup">My profile</a></div></td>

        				<td class="topbtn"><a  class ="insidebutton1 " href="/users/signup">Log out</a></div></td>
        			</tr>
        		</table>
            </div>

<div class = "hero1">
<p>Scriptomania <img src="./scripto.png" alt="Logo" width="80" height="80"></img>
<p>
</div>
<h2 class="welcome">Welcome Hamza</h2>

<div class="outer">
  <h3 class="heroo">Dashboard</h3>
<div class="row">

	<div>

      <a class="insidebutton", href="/users/login"><button class="btn">Edit Profile</button></a></div>
      <div>
      <a class="insidebutton", href="/users/signup"><button class="btn">Read Scripts</button></a>
</div>
<div>
      <a class="insidebutton", href="/users/signup"><button class="btn1">View Transaction History</button></a></div>
<div>
      <a class="insidebutton", href="/users/signup"><button class="btn1">View Current Subscription</button></a></div>
</div>
  
</div>

</body>
