<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/upload.css">
<style>

span.price {
  float: right;
  color: grey;
}

</style>
 <link rel="stylesheet" href="/css/loggedout.css">
</head>
<body>
<STYLE>A {text-decoration: none;} </STYLE>
  
    <div class = "lul">
      <table  >
        <tr >
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/producer">Home</a></div></td>
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/viewprof">My Profile</a></div></td>
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/loggedout">Logout</a></div></td>
        </tr>
      </table>
      </div>
    <br>
 
      <div class="aaa">
        <h2 class = "hero1"><img class="sss" src="/img/scripto.png" alt="Logo" width="80" height="100"></img><br>Scriptomania </h2><br>
      </div>

 <form method ="post" action="/users/buy_form/{{file._id}}">
                <h2 style = "text-align: center;">Total payment ${{file.metadata.additional_data.price}}</h2>
   
    
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>
 
</div>

</body>