<html>
<head>
  <meta charset="UTF-8">
  <title>Scriptomania|login</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="/css/style.css">

  
</head>


<script type="text/javascript">


  function showpass(){
  console.log("Oks")
  var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }

  }


</script>
<body>

  <div class="login-form-wrap">
  
  <img src="/img/scripto.png" alt="Logo of Scriptomania" height="80" width="80">
  
  <h2>Log in to Scriptomania</h2>

  <form class="login-form" action="/users/submit_login_form" method="POST">
    <label>
      <input type="text" name="username" required placeholder="Username">
    </label>
    <label>
      <input id ="password" type="password" name="password" required placeholder="Password">
    </label>
    <div class="showpass">
    <input type="checkbox" name="show_pass" onclick="showpass();">
    <label class="shower">Show Password</label>
    </div>
   
    <input type="submit" value="Login">
    
 <h4><a class="A" href = "signup">Don't have an account? Click here to register</a></h4>
  </form>
</div>
  
</body>
<footer class="footer">©2019 Scriptomania, Inc.</footer>
</html>

