<html>
<head>
  <meta charset="UTF-8">
  <title>Scriptomania|Producer </title>
  
       <link rel="stylesheet" href="/css/producer.css">

  
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body >
        <div class = "lul">
            <table  >
              <tr >
                <td class="topbtn"><a  class ="insidebutton1 " href="/users/view">My profile</a></div></td>

                <td class="topbtn"><a  class ="insidebutton1 " href="/users/loggedout">Logout</a></div></td>
              </tr>
            </table>
            </div>
<br><br>
      <div class="aaa">
        <img class="sss" src="/img/scripto.png" alt="Logo" width="80" height="80"></img><br><h2 class = "hero1">Scriptomania </h2>
      </div>
<h2 class="welcome">Welcome {{name}}</h2>

<div class="outer">
  <h3 class="heroo">Dashboard</h3>
<div class="row">

  <div>

      <a class="insidebutton", href="/users/editprofp"><button class="btn">Edit Profile</button></a></div>
      <div>
      <a class="insidebutton", href="/users/read"><button class="btn">Buy Scripts</button></a>
</div>
<div>
      <a class="insidebutton", href="/users/th_producer"><button class="btn1">Transaction History</button></a></div>

  
</div>

</body>
<footer class="footer">©2019 Scriptomania, Inc.</footer>

</html>


