<html>
  <head>
    <meta charset="UTF-8">
    <title>File Uploads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/upload.css">
  </head>
  <STYLE>A {text-decoration: none;} </STYLE>
<body>
    <div class = "lul">
      <table  >
        <tr >
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/writer">Home</a></div></td>
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/view">My Profile</a></div></td>
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/loggedout">Logout</a></div></td>
        </tr>
      </table>
      </div>
    <br>
  
 <div class="aaa">
        <h2 class = "hero1"><img class="sss" src="/img/scripto.png" alt="Logo" width="80" height="100"></img><br><br>Scriptomania </h2><br>
      </div>
    <!-- <div class="row"> -->
      <div class="col-md-6 m-auto">
        <h2 class="welcome">Upload your Script</h2>
        <div class ="signup_form">
        <form  action="/users/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-label">
            <label for="file" class="custom-file-label">Choose File</label>
          </div>
            
          
          <p class="a">Select the Genre</p>

          <label class="label"><input class="input" type="radio" name="genre" value="Horror" checked>
          Horror</label>
         
          <label class="label"><input class="input" type="radio" name="genre" value="Action">
          Action</label>
          <label class="label"><input class="input" type="radio" name="genre" value="Fantasy">
          Fantasy</label>
          <label class="label"><input class="input" type="radio" name="genre" value="Mystery">
          Mystery</label>
           <label class="label"><input class="input" type="radio" name="genre" value="Romance">
          Romance</label>
           <label class="label"><input class="input" type="radio" name="genre" value="Thriller">
          Thriller</label>
          <label class="label"><input class="input" type="radio" name="genre" value="Science Fiction">
          Science Fiction</label>
          <br>
          <p class="a">Price of the Script</p>
          <input class="signup_form_input" type="text" name="price" required placeholder="Price" required pattern="[0-9]+"><br><br><br>
          
          <p class="a">Running Time of Script</p>
          <input class="signup_form_input" type="textarea" name="duration" required placeholder="Minutes" required pattern="[0-9]+"><br><br><br>
          
          <p class="a">Number of characters</p>
          <input class="signup_form_input" type="text" name="noc" required placeholder="Number of Characters" required pattern="[0-9]+"><br><br><br>
          
          <p class="a">Sypnosis of the Script</p>
          <input class="signup_form_input" type="textarea" name="sypnosis" required placeholder="Synopsis..."><br><br><br>
          
          <input class="big" type="submit" value="Submit" >
          
        </form>
      </div>
    </div>
  



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    
<div class="qq">
 <footer class="footer">©2019 Scriptomania, Inc.</footer>
</div>
</body>


</html>
